<h1>Cargar un Producto</h1>
<form action="/api/products/addproduct" method="post">
    <label for="title">Nombre del Producto: </label>
    <input type="text" name="title" >
    <label for="description">Descripcion del Producto: </label>
    <input type="text" name="description" required>
    <label for="price">Precio: $</label>
    <input type="number" name="price" required> 
    <label for="stock">Stock: </label>
    <input type="number" name="stock" required>
    <label for="code">Codigo: </label>
    <input type="text" name="code" required>
    <label for="category">Categoría: </label>
    <input type="text" name="category" required>
    <label for="thumbnail">Thumbnail: </label>
    <input type="text" name="thumbnail" required>
    <input type="submit" value="Subir Producto">
    
</form>