<form action="/passRecovery/{{token}}" method="post">
    <label for="pass1">Ingrese la contraseña nueva</label>
    <input type="text" name="pass1">
    <label for="pass2">Vuelva a ingresar la contraseña</label>
    <input type="text" name="pass2">
    <button type="submit">Cambiar Contrasena</button>
</form>