<h1>Reestablecer contraseña</h1>

<form action="/passRecovery/" method="POST">
    <label for="mail">Ingrese su Mail</label>
    <input type="email" name="mail" id="mail" required>
    <button type="submit">Recuperar Contraseña</button>
</form>